<p>servers works!</p>
<label>Server Name </label>
<!-- <input type="text" class="form-control" (input)="serverNameUpdate($event)"> -->
<input type="text" class="form-control" [(ngModel)]="serverName">
<!-- <p>{{serverName}}</p> -->
<br>
<button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreatedServer()">Add Server</button>
<br>
<p *ngIf="serverCreated">{{serverCreationStatus}}</p>
<!-- Using the built in Directive ngIf -->
<!-- <p>{{ allowNewServer }}</p> -->
<!--  here in the paragraph tag string interpolation can be replaced by Property Binding as below -->
<!-- use string interpolation when want to display the names dynamically whereas Property Binding can be
used when want to assign value to the Html tags-->
<p [innerHTML]="allowNewServer"></p>
<app-server></app-server>
<app-server></app-server>

<!--  Assignment -->
<input type="text" class="form-control" [(ngModel)]="username"> <!-- Two way binding -->
<br>
<p>{{ username }}</p>  <!-- String Interpolation -->
<button class="btn btn-primary" 
    [disabled]="username === ''"
    (click)="username = ''">Add User</button> <!-- Property Binding for disabled and event binding for click -->






 